.container {
    @apply flex items-center justify-center flex-row;
    padding: 0px 22px;
    height: 48px;
}

.input {
    @apply flex-1 outline-none bg-transparent;
}

.outline.container {
    @apply bg-transparent;
    border: 1px solid #757391;
}

.outline .input {
    @apply text-text-input-3 placeholder-text-input-3;
}
