.container{
    background-color: theme('colors.pink.600');
    height: 206px;
    opacity: 0.2;
    filter: blur(146px);
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
}

.dot1{
    background-color: theme('colors.pink.600');
    width: 24px;
    height: 24px;
    position: absolute;
    top: 438px;
    left: 41px;
}

.dot2{
    background-color: theme('colors.pink.700');
    opacity: 0.7;
    width: 43px;
    height: 15px;
    position: absolute;
    top: 258px;
    left: 170px;
}

.dot3{
    background-color: theme('colors.pink.600');
    filter: blur(6px);
    width: 16px;
    height: 16px;
    position: absolute;
    top: calc(50% + 318px);
    left: calc(50% - 220px);
}

.dot4{
    background-color: theme('colors.pink.600');
    filter: blur(4px);
    transform: rotate(45deg);
    width: 10.47px;
    height: 10.47px;
    position: absolute;
    top: calc(50% + 210px);
    left: calc(50% + 315px);
}

.dot5{
    background-color: theme('colors.pink.700');
    opacity: 0.3;
    width: 49px;
    height: 8px;
    position: absolute;
    top: calc(50% + 9px);
    left: calc(50% + 426px);
}

.dot6{
    background-color: theme('colors.pink.600');
    width: 14px;
    height: 14px;
    position: absolute;
    top: calc(50% - 133px);
    left: calc(50% + 542px);
}