.container{
    @apply relative;

    border-right: theme('colors.ash-dark.600') 16px solid;
    padding-left: 16px;
    background:
        linear-gradient(to right, theme('colors.ash-dark.600') 18px, transparent 18px) 0 100%,
        linear-gradient(to bottom, theme('colors.ash-dark.600') 18px, transparent 18px) 100% 0;

    background-repeat: no-repeat;
    background-size: calc(100% - 16px) calc(100% - 16px);

    display: flex;
    flex-direction: row;
}

.content{
    @apply relative bg-ash-dark-600 text-white py-11 pl-8 pr-12;
    width: 460px
}