.topLeftCorner {
    @apply relative;

    transition: none !important;

    border-right: theme("colors.bg") 10px solid;
    border-bottom: theme("colors.bg") 10px solid;
    padding-left: 10px;
    padding-top: 10px;
    background: linear-gradient(
                to right,
                theme("colors.bg") 12px,
                transparent 12px
            )
            0 100%,
        linear-gradient(to bottom, theme("colors.bg") 12px, transparent 12px)
            100% 0;

    background-repeat: no-repeat;
    background-size: calc(100% - 10px) calc(100% - 10px);
}

.topLeftCorner:hover {
    border-right: theme("colors.bg-hover") 10px solid;
    border-bottom: theme("colors.bg-hover") 10px solid;
    background: linear-gradient(
                to right,
                theme("colors.bg-hover") 12px,
                transparent 12px
            )
            0 100%,
        linear-gradient(
                to bottom,
                theme("colors.bg-hover") 12px,
                transparent 12px
            )
            100% 0;

    background-repeat: no-repeat;
    background-size: calc(100% - 10px) calc(100% - 10px);
}

.content,
.quickSelectContainer,
.balanceContainer {
    transition: none !important;
}

.topLeftCorner:hover .content,
.topLeftCorner:hover .quickSelectContainer,
.topLeftCorner:hover .balanceContainer {
    @apply bg-bg-hover;
}

.bottomRightCorner {
    @apply relative;

    transition: none !important;

    border-left: theme("colors.bg") 10px solid;
    border-top: theme("colors.bg") 10px solid;
    padding-right: 10px;
    padding-bottom: 10px;
    background: linear-gradient(
                to left,
                theme("colors.bg") 12px,
                transparent 12px
            )
            100% 0,
        linear-gradient(to top, theme("colors.bg") 12px, transparent 12px) 0
            100%;

    background-repeat: no-repeat;
    background-size: calc(100% - 10px) calc(100% - 10px);
}

.bottomRightCorner:hover {
    border-left: theme("colors.bg-hover") 10px solid;
    border-top: theme("colors.bg-hover") 10px solid;
    padding-right: 10px;
    padding-bottom: 10px;
    background: linear-gradient(
                to left,
                theme("colors.bg-hover") 12px,
                transparent 12px
            )
            100% 0,
        linear-gradient(to top, theme("colors.bg-hover") 12px, transparent 12px)
            0 100%;

    background-repeat: no-repeat;
    background-size: calc(100% - 10px) calc(100% - 10px);
}

.bottomRightCorner:hover .content,
.bottomRightCorner:hover .quickSelectContainer,
.bottomRightCorner:hover .balanceContainer {
    @apply bg-bg-hover;
}

.input {
    @apply flex-1 outline-none bg-transparent text-right text-2xl font-bold text-white placeholder-text-input-1;
    max-width: 50%;
}

.input::placeholder,
.input::-webkit-input-placeholder,
.input::-moz-placeholder,
.input::-ms-input-placeholder {
    @apply font-normal;
}

.insufficentFundBorderTop{
    @apply absolute bg-insufficent-fund;
    height: 1px;
    top: 0;
    right: -10px;
    left: 10px;
}

.insufficentFundBorderRight{
    @apply absolute bg-insufficent-fund;
    width: 1px;
    top: 0;
    right: -10px;
    bottom: -10px;
}

.insufficentFundBorderBottom{
    @apply absolute bg-insufficent-fund;
    height: 1px;
    bottom: -10px;
    right: -10px;
    left: 0;
}

.insufficentFundBorderLeft{
    @apply absolute bg-insufficent-fund;
    width: 1px;
    left: 0;
    bottom: -10px;
    top: 10px;
}

.insufficentFundBorderCorner1{
    @apply absolute bg-insufficent-fund;
    height: 1px;
    top: 10px;
    width: 10px;
    left: 0;
}

.insufficentFundBorderCorner2{
    @apply absolute bg-insufficent-fund;
    width: 1px;
    left: 10px;
    height: 10px;
    top: 0;
}