.container {
    @apply flex flex-row justify-center select-none text-xs font-medium;
    @apply md:static fixed;
}


.container > .btn {
    @apply py-3 px-6;
    cursor: pointer;
    margin: 0 3px;
}

.container > .btn:hover{
    @apply bg-ash-dark-600 text-white;
}

.container > .btn:active{
    @apply bg-transparent text-white;
}

.container > .btn.active {
    @apply bg-ash-dark-600 text-white;
    cursor: default;
}


@media (max-width: 767.5px) {
    .container {
        @apply z-40;
        
        padding: 4px;
        top: 664px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(117, 115, 145, 0.1);
        backdrop-filter: blur(25px);
    }

    .container > .btn {
        @apply m-0;
    }
 }
 