.containerCard {
    /* @apply flex flex-wrap gap-7 items-baseline; */
    @apply grid gap-4 lg:gap-[1.875rem];
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.containerList {
    @apply flex flex-col;
}

.listHeader {
    padding: 16px 43px;
    font-size: 12px;
    margin-top: 28px;
}
